body {
    font-family: Arial, sans-serif;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    overflow: hidden;
    background-color: #f0f0f0; /* Light grey background */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #fff; /* White background for the container */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 80vw;
    overflow: auto; /* Enable scrolling */
    max-height: 70vh; /* Adjust as needed */
}
h1 {
    color: #333; /* Darker text color */
    margin-bottom: 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #007bff; /* Blue background for header */
    color: white;
}
.modify-button, .delete-button {
    border: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.modify-button {
    background-color: #28a745; /* Green background */
    color: white;
}
.modify-button:hover {
    background-color: #218838; /* Darker green on hover */
    cursor: pointer;
}
.delete-button {
    background-color: #ff4b4b; /* Red background */
    color: white;
}
.delete-button:hover {
    background-color: #c0392b; /* Darker red on hover */
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
